<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome {{ username | title}}</h1>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
    <hr>
    <!-- Text Input Form -->
    <form action="/add_domain" method="POST">
        <label for="single-url">Check URL: </label>
        <input id="single-url" name="single-url" placeholder="url.com..." size="35" required><br><br>

        <!-- Radio buttons to select Time or Number -->
        <label>Check Every Hour(s) OR In Fixed Times:</label><br><br>
        <input type="radio" name="radio-option-hours" value="Hours"> Check Every Hours(s)
            <input type="number" name="hours-input" value="" placeholder="Check every (x) hours..."> <br><br>
        <input type="radio" name="radio-option-fixed" value="Fixed"> Check Every Fix Hour
            <input type="time" name="fixed-input" value=""> <br><br>
        <input type="radio" name="radio-option-disable" value="Disabled"> Disable The Scheduled Check <br><br>

        <input type="submit" value="Check URL">
    </form><br><br>
    <hr>

    <!-- File Upload Form -->
    <form action="/bulk_upload" method="POST" enctype="multipart/form-data">
        <label for="file-upload">Bulk URL check via file:</label>
        <input type="file" id="file-upload" name="file-upload" required><br><br>

        <!-- Radio buttons to select Time or Number -->
        <label>Check Every Hour(s) OR In Fixed Times:</label><br><br>
        <input type="radio" name="radio-option-hours" value="Hours"> Check Every Hours(s)
            <input type="number" name="hours-input" value="" placeholder="Check every (x) hours..."> <br><br>
        <input type="radio" name="radio-option-fixed" value="Fixed"> Check Every Fix Hour
            <input type="time" name="fixed-input" value=""> <br><br>
        <input type="radio" name="radio-option-disable" value="Disabled"> Disable The Scheduled Check <br><br>


        <input type="submit" value="Upload Bulk File">
    </form><br>
    <hr>

    <div>

    </div><br>
    <hr>

    {% if answer_list %}
    <table border="1">
    <caption>SSL Information for Domains</caption>
    <thead>
        <tr>
           <th scope="col">Domain</th>
           <th scope="col">Liveness Status</th>
           <th scope="col">SSL Expiration Date</th>
           <th scope="col">SSL Issuer</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through the list of dictionaries and display key-value pairs in table rows -->
        {% for answer in answer_list %}
            <tr>
            <td><strong>{{ answer['domain'] }}</strong></td>
            <td><strong>{{ answer['status'] }}</strong></td>
            <td><strong>{{ answer['ssl_expiration'] }}</strong></td>
            <td><strong>{{ answer['ssl_issuer'] }}</strong></td>
            </tr>
        {% endfor %}
    </tbody>
    </table><br><br>
    {% endif %}

    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    {% if timed %}
        <div>Executed in {{ timed }} seconds</div>
    {% endif %}


    <script>
        // JavaScript to show the correct input based on the radio selection
        document.querySelectorAll('input[name="choice"]').forEach((elem) => {
            elem.addEventListener('change', function() {
                if (this.value === 'time') {
                    document.getElementById('time').style.display = 'inline';
                    document.getElementById('number').style.display = 'none';
                } else if (this.value === 'number') {
                    document.getElementById('number').style.display = 'inline';
                    document.getElementById('time').style.display = 'none';
                } else if (this.value === 'none'){
            				document.getElementById('number').style.display = 'none';
                    document.getElementById('time').style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>



<!--    <ul>-->
<!--    &lt;!&ndash; Loop through the list of dictionaries and display key-value pairs &ndash;&gt;-->
<!--    {% for answer in answer_list %}-->
<!--        {% for key, value in answer.items() %}-->
<!--            <li><strong>{{ key }}:</strong> {{ value }}</li>-->
<!--        {% endfor %}-->
<!--    {% endfor %}-->
<!--    </ul><br><br>-->